.header {
  width: 100%;
  box-sizing: border-box;
  min-height: 80vh;
}

.header-nav {
  color: white;
  background: #f15525;
  width: 100%;
  min-height: 15vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  justify-content: center;
  padding: 10px 40px 10px 40px;
}

.header-nav__left {
  display: flex;
  align-items: center;
  margin: 20px auto;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.header-nav-item {
  margin-left: 30px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav__icon-title {
  align-self: center;
  text-transform: uppercase;
  display: none;
}

.header-nav__icon {
  width: 25px;
  height: 25px;
  align-self: center;
}

.header-main {
  position: relative;
  min-height: 75vh;
  width: 100%;
  color: white;
}

.header-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/eventdirhero.jpg");
  filter: grayscale(80%);
}

.header-main__wrapper {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  padding-top: 100px;
}

.hero-text {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  min-width: 80%;
  margin: 0 auto;
}

.search-form {
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  border-radius: 8px;
  margin: 10px auto;
  padding: 10px 5px;
}

.search-form input,
.search-form button {
  display: inline-block;
  width: 100%;
  margin-top: 10px auto;
  height: 30px;
}

.search-form label {
  color: black;
  font-size: 16px;
  font-size: weight;
}

.search-form input {
  background-color: white;
  padding-left: 5px;
  outline: none;
}

.search-form button {
  background: #f15525;
  color: white;
}

.header-btn {
  background: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 16px;
  display: block;
  margin-top: 50px;
  margin-left: 75px;
}

@media only screen and (min-width: 1024px) {
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 40px;
  }

  .header-nav__left {
    margin: 0;
  }

  .header-main__wrapper {
    width: 70%;
    margin: auto;
  }

  .search-form {
    padding: 30px;
    padding-right: 50px;
  }

  .search-field {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 0;
  }

  .search-form input,
  .search-form button {
    height: 40px;
  }

  .search-form input {
    border-radius: 4px 0 0 4px;
  }

  .search-form button {
    border-radius: 0 4px 4px 0;
    font-size: larger;
    text-transform: uppercase;
    font-weight: 500;
  }

  .search-form label {
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .header-btn {
    margin: auto;
    padding: 10px;
    border-radius: 4px;
  }
}
